mat-card{
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;


}
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
